@import url(https://fonts.googleapis.com/css?family=Muli:400,300);

body{
  font-family: 'Muli', sans-serif;
  background-image: url(../images/WebDesignPattern.jpg);
  border: none;          
}

/*navbar styling*/
.navbar-nav>li>a:focus, .navbar-nav>li.active>a:hover {
  text-decoration: underline;
}

.container-fluid {
  background-color:#EBEBEB;
}


/*resizing phones on products page*/
.phoneImage{
  width: 100%;
  border:solid 1px;
}

/*resizing titles on products page*/
.phoneName h3{
  color: black;
}

/*resizing items hover effect begins*/
.phoneSize{
  width: 75%;
  height: 75%;
}

#headphones{
  width:68%;
  height: 73%;
}

.accessories{
  width: 75%;
  height: 75%;
}
/*resize items for hover effect ends*/

h1{
  margin-left:-20px;
  color: red;
}

label strong{
  display: block;
  border-top-style: solid;
};

/*styling for carousel*/
.carousel {
  background: #2f4357;
  margin-top: 20px;
}

.carousel .item img {
  margin: 0 auto;
  /* Align slide image horizontally center */
}

.bs-example {
  margin: 20px;
}
