    <!--beginning columns-->
    <div class="container">
        <div class="row">
        <div class="col-xs-12 col-lg-12">
        <h1>CellSpot</h1>
        </div>
        <div class="clearfix visible-lg-block"></div>
        <div class="clearfix visible-xs-block"></div>
        </div>

        <!--checkbox rows begin-->
        <div class="row">
            <h2>Phones</h2>
            <!--inline-checkbox button row-->
            <div class="col-xs-2 col-lg-2"></div>
            <div class="col-xs-3 col-lg-3">
                <img src="images/edge.png" class="img-responsive phoneSize" id="edge" alt="Responsive image">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="phoneOptions" id="checkBox1" value="S7 Edge"> Samsung Galaxy S7 Edge
                    <strong>CDN $999.00 Unlocked</strong>
                </label>
                </div>
            </div>
            <div class="col-xs-3 col-lg-3">
                <img src="images/iphone6.png" class="img-responsive phoneSize" alt="Responsive image">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="phoneOptions" id="checkBox2" value="iPhone 6S Plus"> Apple iPhone 6S Plus
                    <strong>CDN $1,159.00 Unlocked</strong>
                </label>
                </div>
            </div>
            <div class="col-xs-3 col-lg-3">
                <img src="images/sonyxperia.png" class="img-responsive phoneSize" alt="Responsive image">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="phoneOptions" id="checkBox3" value="Sony Xperia Z5 Compact"> Sony Xperia Z5 Compact
                    <strong>CDN $600.00 Unlocked</strong>
                </label>
                </div>
            </div>
            <div class="col-xs-1 col-lg-1"></div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
            </div>
            <br>
            <br>

        <div class="row">
            <!--checkbox row-->
            <div class="col-xs-2 col-lg-2"></div>
            <div class="col-xs-3 col-lg-3">
                <img src="images/lg.png" class="img-responsive phoneSize" alt="Responsive image">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="phoneOptions" id="checkBox4" value="LG G4"> LG G4
                    <strong>CDN $699.00 Unlocked</strong>
                </label>
                </div>
            </div>
            <div class="col-xs-3 col-lg-3">
                <img src="images/nexus.png" class="img-responsive phoneSize" alt="Responsive image">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="phoneOptions" id="checkBox5" value="Google Nexus 6P"> Google Nexus 6P
                    <strong>CDN $800.00 Unlocked</strong>
                </label>
                </div>
                </div>
            <div class="col-xs-3 col-lg-3">
                <img src="images/note5.png" class="img-responsive phoneSize" id="galaxy" alt="Responsive image">
                <div class="checkbox">
                <label>
                  <input type="checkbox" name="phoneOptions" id="checkBox6" value="Samsung Galaxy Note 5"> Samsung Galaxy Note 5
                    <strong>CDN $900.00 Unlocked</strong>
                </label>
                </div>
            </div>
            <div class="col-xs-1 col-lg-1"></div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>

        <br>
        <br>

        <!--radio row begins-->
        <div class="row">
            <h2>Accessories</h2>
            <div class="col-xs-2 col-lg-2"></div>
            <div class="col-xs-3 col-lg-3">
            <div class="radio">
            <img src="images/sonyheadphones.png" class="img-responsive" id="headphones" alt="Responsive image">
              <label>
                <input type="radio" name="accessories" id="optionsRadios1" value="Sony Headphones" checked>
                Sony In-Ear Sound Isolating Headphones (MDR-XB50APB) - Black
                  <strong>CDN $59.99</strong>
              </label>
            </div>
            </div>
            <div class="col-xs-3 col-lg-3">
            <img src="images/batterypack.png" class="img-responsive accessories" alt="Responsive image">
            <div class="radio">
              <label>
                <input type="radio" name="accessories" id="optionsRadios2" value="Battery Pack">
                Insignia 8000 mAh Portable Battery Pack (NS-MB8000B-C) - Black
                  <strong>CDN $29.97</strong>
              </label>
            </div>
            </div>
            <div class="col-xs-3 col-lg-3">
            <div class="radio">
            <img src="images/carcharger.png" class="img-responsive accessories" alt="Responsive image">
              <label>
                <input type="radio" name="accessories" id="optionsRadios3" value="Car Charger">
                Dynex 0.91m (3 ft) Lightning Car Charger (DX-MDC1A5)
                  <strong>CDN $14.99</strong>
              </label>
            </div>
            </div>
            <div class="col-xs-1 col-lg-1"></div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>
        <!--radio ends-->

        <br>
        <br>

        <!--row 3 begins input and text area-->
        <div class="row">
            <div class="col-lg-1"></div>
            <!--input row-->
            <div class="col-xs-6 col-lg-4">
                <input type="text" class="form-control" id="mySingleLineText" placeholder="Full Name">
                <br>
                <br>
            </div>
            <div class="col-lg-1"></div>
            <!--textarea row-->
            <div class="col-xs-6 col-lg-4">
                <textarea class="form-control" id="myTextArea" rows="1" placeholder="Delivery Address"></textarea>
                <br>
                <br>
            </div>
            <div class="col-lg-1"></div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>
        <!--row 3 ends-->

        <!--row 4 begins-->
        <div class="row">
            <!--button row-->
            <div class="col-xs-12 col-lg-12">
                <button type="button" class="btn btn-primary" id="myButton">Click</button>
                <br>
                <br>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>
        <!--row 4 ends-->

        <br>

        <!--thank you message -->
        <div class="row">
            <!--order summary row-->
            <div class="col-xs-12 col-lg-12">
            <div id="changeEvent"></div>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>
        <!--row 5 ends-->

         <br>

        <!--row 6 begins-->
        <div class="row">
            <!--order summary row-->
            <div class="col-xs-12 col-lg-12">
            <h2>Order Summary<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></h2>
            <div id="summary"></div>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>
        <!--row 6 ends-->

         <br>
         <br>

        <!--row 7 begins Log-->
        <div class="row">
            <!--log row-->
            <div class="col-xs-12 col-lg-12">
                <h2>Log</h2>
                <div id="log"></div>
            </div>
            <div class="clearfix visible-lg-block"></div>
            <div class="clearfix visible-xs-block"></div>
        </div>
        <!--row 7 ends-->
    </div>
